<%- include('layouts/header') %>
<div class="container">
    <div class="text-center">
        <h1 class="display-4 mb-4"><%= title %></h1>
        <p class="lead"><%= message %></p>
        <a href="/products" class="btn btn-primary btn-lg">View Our Products</a>
    </div>
</div>
<%- include('layouts/footer') %>